html[data-bs-theme="dark"]


.bulb {
    margin-left: 10px;
}

.bulb>input {
    display: none;
    margin-left: 5px;
}

html[data-bs-theme="dark"] .main {
    background-color: #020A10;
    color: white;
}

html[data-bs-theme="dark"] .main .top-row,
html[data-bs-theme="dark"] .sidebar .top-row {
    background-color: #0a263f;
    color: white;
    border-color: black;
}

html[data-bs-theme="dark"] .form-control {
    background-color: transparent;
    color: white;
}

html[data-bs-theme="dark"] .nav-link.active {
    background-color: transparent;
    border-color: #dee2e6 #dee2e6 #020A10;
    color: white;
}

html[data-bs-theme="dark"] .navbar-brand>img {
    filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
}


html[data-bs-theme="dark"] .blazored-typeahead__input,
html[data-bs-theme="dark"] .blazored-typeahead__results {
    background-color: #0a263f;
    color: white;
}

html[data-bs-theme="dark"] .blazored-typeahead__selected-item-highlighted,
html[data-bs-theme="dark"] .blazored-typeahead__selected-item {
    color: black;
}

html[data-bs-theme="dark"] select option {
    background-color: #0a263f;
}

html[data-bs-theme="dark"] .accordion-body {
    background-color: #020A10;
    color: white;
}

html[data-bs-theme="dark"] .accordion-button {
    background-color: #0a263f;
    color: white;
}

html[data-bs-theme="dark"] .accordion-button::after {
    color: white;
}

html[data-bs-theme="dark"] .language-selector label {
    background-color: #0a263f;
}

html[data-bs-theme="dark"] .offcanvas {
    background-color: #0a263f;
    color: white;
}

html[data-bs-theme="dark"] .custom-warning a {
    color: #0378ff;
}


html[data-bs-theme="dark"] .inputEnum select:disabled,
html[data-bs-theme="dark"] .checkbox-wrapper>input:disabled+span
 {
    color: black;
    border-color: grey;
    background-color: #2f3741;
}
