**/.git
**/.github
**/.vscode
**/.vs
**/bin
**/obj
**/node_modules
**/.idea
**/dataExtractors
**/docs
**/testTemplates
**/*.user
**/*.suo
**/*.md
**/*.brt
**/*.cbrt
**/Release
**/.prompts
**/BriefingRoom_RadioMessages
