.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: #F6F7FF;
    padding: .5em;
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.bottom-logo {
    display: none;
    padding: 0.75rem 1rem;
}

.bottom-logo img {
    width: 100%;
}

.sidebar-bottom {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .sidebar-bottom {
        display: block;
    }

    .bottom-logo {
        display: inline-block;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}